body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #008000; /* green color */
    color: #fff; /* White text color */
    padding: 10px;
    text-align: center;
  }
  nav {
    background-color: #f8f9fa; /* Light gray color */
    padding: 10px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  nav ul li a {
    color: #333; /* Dark gray color */
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
  }
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .section {
    margin-bottom: 20px;
  }